{% extends 'base.html.twig' %}

{% block title %}
    {% for programsByCategory in programsByCategory %}
    Catégorie #{{ programsByCategory.category.name }}
    {% endfor %}
{% endblock %}

{% block body %}
    {% if programsByCategory is empty %}
        <h1> Aucune série ne correspond à la catégorie {{ programsByCategory.category.name}} </h1>
    {% endif %}
    <a href="{{ path('program_index') }}"> Retour à la liste des programmes</a>
    <div class="container-fluid program-container">
    {% for programsByCategory in programsByCategory %}
            <div class="card col-3">
                <img class="card-img-top" src="{{ programsByCategory.poster }}" alt="{{ programsByCategory.title }} poster">
                <div class="card-body">
                    <h5 class="card-title">{{ programsByCategory.title }} </h5>
                    <p class="card-text">{{ programsByCategory.summary }}</p>
                    <a href="{{ path("program_show", {programSlug: programsByCategory.slug}) }}" class="btn btn-primary">Découvrir</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
